section.comments
  .container
    .row.justify-content-around
      .col-24
        h2.heading.heading--curl.comments__heading!= page.comments.heading
      .col-24
        .comments__box
          //-iframe(src='//www.displaysocialmedia.com/app/embed/index.php?embed_id=5042', frameborder='0', width='100%', height='768')
          ul#grid.grid.grid--effect7
            each item in page.comments.items
              li.grid__item
                .rm-review.grid__review
                  .rm-review__photo
                    img.img-fluid.rm-review__img(src=item.img.src, alt=item.name.text)
                  .rm-review__profile
                    a.rm-review__name(href=item.name.href)!=item.name.text
                    time.rm-review__date.rm-date(datetime=item.date.time)!= item.date.text
                  .rm-review__descr 
                    | просмотреть 
                    a.rm-review__link(href=item.link.href)!= item.link.text
                  .rm-rating.rm-review__rating
                    each ration in item.rating
                      i.fa.fa-star.rm-rating__icon
                  .rm-review__content
                    each text in item.text
                      p.rm-review__text!= text


