section.comments
  .container.comments__container
    .row.justify-content-around
      .col-24
        h2.heading.heading--curl.comments__heading!= page.comments.heading
      .col-24
        .comments__box
          .comments__heading-box
            .row
              .col-24.col-md-4.col-lg-3.text-center.text-md-left
                .comments__ded
              .col-24.col-md-20.col-lg-21
                .comments__title-box
                  .comments__title
                    span.comment__title--span Новогоднее видео поздравление от Дедушки Мороза 
                    span.rm-rating.rm-review__rating
                      i.fa.fa-star.rm-rating__icon
                      i.fa.fa-star.rm-rating__icon
                      i.fa.fa-star.rm-rating__icon
                      i.fa.fa-star.rm-rating__icon
                      i.fa.fa-star.rm-rating__icon  
                  .comments__subtitle <b>@VideoPozdravlenie2018</b> Дедушка Мороз обратится по имени, посмотрит фото ребенка и поздравит его с Новым Годом 
          ul#grid.grid.grid--effect-3
            each item in page.comments.items
              li.grid__item
                .rm-review.grid__review
                  .rm-review__photo
                    img.img-fluid.rm-review__img(src=item.img.src, alt=item.name.text)
                  .rm-review__profile
                    a.rm-review__name(href=item.name.href)!=item.name.text
                    time.rm-review__date.rm-date(datetime=item.date.time)!= item.date.text
                  .rm-rating.rm-review__rating
                    each ration in item.rating
                      i.fa.fa-star.rm-rating__icon
                  .rm-review__descr 
                    | просмотреть 
                    a.rm-review__link(href=item.link.href)!= item.link.text
                  .rm-review__content
                    each text in item.text
                      p.rm-review__text!= text
          button.btn.btn--default(data-more="#grid") Показать еще