section.discount
  .container
    .row.justify-content-around
      .col-24
        h2.heading.heading--white.heading--curl.discount__heading!= page.discount.heading
      .col-24.col-lg-20
        p.descr.descr--white.discount__descr!= page.discount.descr
    .row.justify-content-around
      .col-24.col-md-16.col-lg-10.order-1
        .countdown.discount__countdown
          - var timer = page.discount.timer
          h3.cd-heading.countdown__heading!= timer.heading
          .timer.js-timer
            .timer__item
              .timer__time!= timer.days.number
              .timer__text!= timer.days.text
            .timer__item
              .timer__time!= timer.delimeter
            .timer__item
              .timer__time!= timer.hours.number
              .timer__text!= timer.hours.text
            .timer__item
              .timer__time!= timer.delimeter
            .timer__item
              .timer__time!= timer.minutes.number
              .timer__text!= timer.minutes.text
        p.notify.discount__notify!= page.discount.notify
        .btn-groups
          a.btn.btn--default.btn--size.discount__btn(href="order.php")!= page.discount.btn.text
      .col-24.col-md-8.col-lg-6.order-md-1
        .price.discount__price
          each item, i in page.discount.price
            .price__item(class="price__item--" + (i + 1))
              span.price__value(data-label=item.text)
                != item.number
              span.price__currency!= item.currency
