section.gift
  .container
    .row
      .col-24
        h2.heading.heading--curl.gift__heading!= page.gift.heading
    .row.justify-content-center
      .col-24.text-center
        .package
          .package__box
            .package__content 
              i.ic.ic--candy.package__candy
              i.ic.ic--confetti.package__confetti 
              .package__image
                img.img-fluid.package__img(src!= page.gift.box.img.src, alt!= page.gift.box.img.alt)
              h3.package__type!= page.gift.box.type
                i.ic.ic--linear-sm.package__icon.package__icon--left
                i.ic.ic--linear-sm.package__icon.package__icon--right  
              .package__info!= page.gift.box.info
              .package__cost!= page.gift.box.cost
              .package__price!= page.gift.box.price
              .btn-groups
                button.btn.btn--default.h-content__btn.package__btn!= page.gift.box.btn.text  
