header.header.header-friday
  video.header-friday__video(poster="img/bgvideo.png"  autoplay loop muted)
    source(src="video/video.webm" type="video/webm")
    source(src="video/video.mp4" type="video/mp4")
  section.header__box.header__box--friday
    .header__menu.menu
      .container
        - var navbar = page.header.menu
        .row.flex-md-row-reverse.justify-content-between
          .col-24.col-md-6
            .header__call.h-call
              .row.justify-content-center
                .col-auto.col-md-24.text-left.text-md-right
                  a.h-call__number.h-call__number--white(href!= navbar.number.href)!=navbar.number.tel
                .col-auto.col-md-24.text-right  
                  a.h-call__button(href!= navbar.call.href, data-toggle="modal")!= navbar.call.text
          .col-24.col-md-14.col-lg-9
            .header__logo.logo.logo--white
              - var logo = navbar.logo
              .row
                .col-24.col-md-auto
                  .logo__image
                    img.img-fluid.logo__img(src!= logo.img.src, alt!= logo.img.alt)
                .col-24.col-md-auto.logo__col.align-items-center  
                  p.logo__text!= logo.text      
    .header__content.h-content.d-flex.align-items-center 
      .container
        - var headContent = page.header.content
        .row.justify-content-start
          .col-24.col-lg-14.align-self-center
            .h-content__box
              h1.h-content__title!= headContent.title
              h2.h-content__subtitle.h-content__subtitle--friday!= headContent.subtitle
              .sell
                .sell__text!= headContent.descr
                .sell__old!= headContent.old
              .btn-groups.text-center.text-lg-left
                a.btn.btn--default.h-content__btn.js-scroll-trigger(href= headContent.btn.target)!= headContent.btn.text
          .col-24.col-lg-8
            .d-flex.align-items-center.justify-content-center.h-100
              a.vd-video__play.mp-play.mp-play--friday(data-toggle="modal" href="#video__modal")
                i.fa.fa-play.mp-play__icon(aria-hidden="true") 
  include ../partials/_videoFriday.pug            
