#callback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  -var callback = page.modal.callback
  .modal-dialog.modal-lg(role='document')
    .modal-content
      i.d-none.d-sm-inline-block.ic.ic--wreath.modal__icon.modal__icon--1
      i.d-none.d-lg-inline-block.ic.ic--manager.modal__icon.modal__icon--2
      //-.modal-header
      button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body
        .row.justify-content-center.justify-content-lg-start
          .col-24.col-sm-18.col-md-24.col-lg-16
            h5#callbackLabel.mb-3.dm-descr!= callback.heading
            p.mb-3.sv-descr!= callback.descr
          .col-24.col-sm-18.col-md-24.col-lg-12
            - var form = callback.form
            form.form.js-form(action="/system/modal.php", method="post")
              fieldset.form-group
                input.form-control(type="tel", name="phone", placeholder=form.phone.placeholder, pattern="\\+380\\s\\d{2}\\s\\d{3}\\s\\d{2}\\s\\d{2}$", required)
              .btn-groups.form__btn-groups
                button.btn.btn--default.btn--size(name='form', value=form.submit.value, type='submit', data-loading-text=form.submit.loading)!= form.submit.text
            a.confident__link(data-toggle="modal", href="#confident") Обработка Ваших персональных данных строго конфиденциальна
#kid__modal.kid.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  .modal-dialog.kid__dialog(role='document')
    .modal-content.kid__content
      i.d-none.d-md-inline-block.ic.ic--babochka.kid__icon.kid__icon--1
      i.d-none.d-md-inline-block.ic.ic--sharik.kid__icon.kid__icon--2
      button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body
        .row.justify-content-center
          .col-24.text-center  
            .mb-3.kid__descr!= content.index.modal.kid.descr
            .mb-3.kid__text!= content.index.modal.kid.text
            a.btn.btn--default.btn--size(href="order.php")!= content.index.modal.kid.btn.text
#video__modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  .modal-dialog.modal-video(role='document')
    .modal-content.modal-video__content
      button.close.modal__close.modal__close--video(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body.modal__body
        .modal__iframe
          iframe.modal__iframe(src="https://www.youtube.com/embed/kg-qEHftDd8" frameborder="0" gesture="media" allowfullscreen)
// Cropping modal
#avatar-modal.modal.fade(aria-hidden='true', aria-labelledby='avatar-modal-label', role='dialog', tabindex='-1')
  .modal-dialog.modal-lg 
    .modal-content.modal-content--default
      form.avatar-form(action='crop.php', enctype='multipart/form-data', method='post')
        .modal-body
          // Upload image and data
          .avatar-upload
            input.avatar-src(type='hidden', name='avatar_src')
            input.avatar-data(type='hidden', name='avatar_data')
            input.avatar-filename(type='hidden', name='avatar_filename')
            // Crop and preview
            .row
              .col-24
                .avatar-wrapper.avatar__wrapper
            .row.justify-content-center.align-items-center.avatar-btns
              .col-24.col-lg-17
                .btn-groups.btn-groups--group
                  label.btn.btn--primary.btn--upload.btn-upload(for='avatarInput', title='Upload image file')
                    input#avatarInput.sr-only.avatar-input(type='file', name='avatar_file', accept='.jpg,.jpeg,.png,.gif,.bmp,.tiff')
                    span.docs-tooltip(data-toggle='tooltip', title='', data-original-title='Import image with Blob URLs')
                      span.fa.fa-upload
                  button.btn.btn--primary(type='button', data-method='zoom', data-option='0.1', title='Zoom In')
                    span.docs-tooltip(data-toggle='tooltip', title='', data-title='cropper.zoom(0.1)')
                      i.fa.fa-search-plus
                  button.btn.btn--primary(type='button', data-method='zoom', data-option='-0.1', title='Zoom Out')
                    span.docs-tooltip(data-toggle='tooltip', title='', data-title='cropper.zoom(-0.1)')
                      i.fa.fa-search-minus
                  button.btn.btn--primary(type='button', data-method='rotate', data-option='90', title='Rotate 90 degrees')
                    i.fa.fa-rotate-left
                  button.btn.btn--primary(type='button', data-method='rotate', data-option='-90', title='Rotate -90 degrees')
                    i.fa.fa-rotate-right
                  label(for="aspectRatio0").btn.btn--primary.avatar__checkbox-group.avatar-ratio
                    input#aspectRatio0.sr-only.avatar-ratio__control(type='radio', name='aspectRatio', value='1.5', checked)
                    span.docs-tooltip.avatar-ratio__text(data-toggle='tooltip', data-animation='false', title='', data-original-title='aspectRatio: 3 / 2') 3:2
                  label(for="aspectRatio1").btn.btn--primary.avatar__checkbox-group.avatar-ratio
                    input#aspectRatio1.sr-only.avatar-ratio__control(type='radio', name='aspectRatio', value='0.66666666666')
                    span.docs-tooltip.avatar-ratio__text(data-toggle='tooltip', data-animation='false', title='', data-original-title='aspectRatio: 2 / 3') 2:3
              .col-24.col-md-15.col-lg-7
                button.btn.btn--default.btn--size.avatar-save(type='submit') Обрезать

#facebook.modal.fade(aria-hidden='true', aria-labelledby='avatar-modal-label', role='dialog', tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .row
          .col-24.align-self-start
            h2.heding Поделитесь нашим сайтом в социальных сетях, чтобы получить дополнительную скидку 17 грн на вашу покупку!
          .col-24.align-self-center
            #shareBtn.btn.btn--facebook(data-layout="button_count") Я рекомендую
          .col-24.align-self-end
            a(href="#dismiss", data-dismiss="modal") Нет, спасибо

.loading(aria-label='Loading', role='img', tabindex='-1')

#confident.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal--size(role='document')
    .modal-content
      button.close.modal__close.modal__close--confident(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body
        .confident
        .confident__title ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        .confident__subtitle
          | Настоящая Политика конфиденциальности персональных данных (далее - политика конфиденциальности) действует в отношении всей информации, которую сайт "Именное видео-поздравление от Дедушки Мороза", расположенный на доменном имени http://video-pozdravlenie.com/ может получить о Пользователе во время использования сайта, программ и продуктов.
        p.confident__heading 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
        p.confident__text 1.1. В настоящей Политике конфиденциальности используются следующие термины:
        p.confident__text
          | 1.1.1. "Администрация сайта (далее - Администрация сайта)" - уполномоченные сотрудники на управление сайтом, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
        p.confident__text
          | 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
        p.confident__text
          | 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
        p.confident__text
          | 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
        p.confident__text
          | 1.1.5. «Пользователь сайта (далее ? Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее сайт.
        p.confident__text
          | 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
        p.confident__text
          | 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
        p.confident__heading 2. ОБЩИЕ ПОЛОЖЕНИЯ
        p.confident__text
          | 2.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
        p.confident__text
          | 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
        p.confident__text
          | 2.3. Настоящая Политика конфиденциальности применяется только к сайту  “Именное видео-поздравление от Дедушки Мороза”. Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
        p.confident__text
          | 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
        p.confident__heading 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
        p.confident__text
          | 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте или при оформлении заказа для приобретения Товара.
        p.confident__text
          | 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационных форм на данном Сайте и могут включать в себя следующую информацию:
        p.confident__text 3.2.1. фамилию, имя, отчество Пользователя;
        p.confident__text 3.2.2. контактный телефон Пользователя;
        p.confident__text 3.2.3. адрес электронной почты (e-mail) Пользователя;
        p.confident__text 3.2.4. адрес доставки Товара(ов) Пользователю;
        p.confident__text 3.2.5. место жительство Пользователя;
        p.confident__text 3.2.6. логин Пользователя.
        p.confident__text
          | 3.3. Сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
        ul
          li IP адрес;
          li Информация из cookies;
          li
            | информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
          li Время доступа;
          li Адрес страницы, на которой расположен рекламный блок;
          li Реферер (адрес предыдущей страницы).
        p.confident__text
          | 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта, требующим авторизации.
        p.confident__text
          | 3.3.2. Сайтом осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
        p.confident__text
          | 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и
          | операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев,
          | предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
        p.confident__heading 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
        p.confident__text
          | 4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:
        p.confident__text
          | 4.1.1. Идентификации Пользователя, зарегистрированного на сайте, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с сайтом “Именное видео-поздравление от Дедушки Мороза”
        p.confident__text
          | 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина.
        p.confident__text
          | 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта, оказания услуг, обработка запросов и заявок от Пользователя.
        p.confident__text
          | 4.1.4 Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
        p.confident__text
          | 4.1.5 Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
        p.confident__text
          | 4.1.6 Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
        p.confident__text 
          | 4.1.7 Уведомления Пользователя сайта о состоянии Заказа.
        p.confident__text
          | 4.1.8 Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа.
        p.confident__text
          | 4.1.9 Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием сайта.
        p.confident__text
          | 4.1.10 Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров.
        p.confident__text 4.1.11 Осуществления рекламной деятельности с согласия Пользователя.
        p.confident__text
          | 4.1.12 Предоставления доступа Пользователю на сайты или сервисы партнеров сайта с целью получения продуктов, обновлений и услуг.
        p.confident__heading 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
        p.confident__text
          | 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом,
          | в том числе в информационных системах персональных данных с использованием средств автоматизации или без
          | использования таких средств.
        p.confident__text
          | 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на сайте «Именное видео-поздравление от Дедушки Мороза», включая доставку Товара.
        p.confident__text
          | 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Украины только по основаниям и в порядке, установленным законодательством Украины.
        p.confident__text
          | 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об
          | утрате или разглашении персональных данных.
        p.confident__text
          | 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной
          | информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования,
          | копирования, распространения, а также от иных неправомерных действий третьих лиц.
        p.confident__text
          | 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению
          | убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных
          | Пользователя.
        p.confident__heading 6. ОБЯЗАТЕЛЬСТВА СТОРОН
        p.confident__text.bold 6.1. Пользователь обязан:
        p.confident__text
          | 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования сайтом.
        p.confident__text
          | 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
        p.confident__text.bold 6.2. Администрация сайта обязана:
        p.confident__text
          | 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей
          | Политики конфиденциальности.
        p.confident__text
          | 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного
          | письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение
          | иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3.
          | настоящей Политики Конфиденциальности.
        p.confident__text
          | 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя
          | согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
        p.confident__text
          | 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента
          | обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите
          | прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных
          | или неправомерных действий.
        p.confident__heading 7. ОТВЕТСТВЕННОСТЬ СТОРОН
        p.confident__text
          | 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Украины, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
        p.confident__text
          | 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт
          | ответственность, если данная конфиденциальная информация:
        p.confident__text 7.2.1. Стала публичным достоянием до её утраты или разглашения.
        p.confident__text
          | 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
        p.confident__text
          | 7.2.3. Была разглашена с согласия Пользователя.
        p.confident__heading 8. РАЗРЕШЕНИЕ СПОРОВ
        p.confident__text
          | 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта
          | Интернет-магазина и Администрацией сайта, обязательным является предъявление претензии (письменного
          | предложения о добровольном урегулировании спора).
        p.confident__text
          | 8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет
          | заявителя претензии о результатах рассмотрения претензии.
        p.confident__text
          | 8.3.  При недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.
        p.confident__text
          | 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Украины.
        p.confident__heading 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
        p.confident__text
          | 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
        p.confident__text
          | 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если
          | иное не предусмотрено новой редакцией Политики конфиденциальности.
        p.confident__text
          | 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует адресовать на электронный адрес: yadedushkamoroz2017@gmail.com
        p.confident__text
          | 9.4. Действующая Политика конфиденциальности размещена на странице по адресу http://video-pozdravlenie.com/
