#callback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  -var callback = page.modal.callback
  .modal-dialog.modal-lg(role='document')
    .modal-content
      i.d-none.d-sm-inline-block.ic.ic--wreath.modal__icon.modal__icon--1
      i.d-none.d-lg-inline-block.ic.ic--manager.modal__icon.modal__icon--2
      //-.modal-header
      button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body
        .row.justify-content-center.justify-content-lg-start
          .col-24.col-sm-18.col-md-24.col-lg-16
            h5#callbackLabel.mb-3.dm-descr!= callback.heading
            p.mb-3.sv-descr!= callback.descr
          .col-24.col-sm-18.col-md-24.col-lg-12
            - var form = callback.form
            form.form.js-form(action="system/mail/mail.php", method="post")
              fieldset.form-group
                input.form-control(type="tel", name="phone", placeholder=form.phone.placeholder, pattern="\\+380\\s\\d{2}\\s\\d{3}\\s\\d{2}\\s\\d{2}$", required)
              .btn-groups.form__btn-groups
                button.btn.btn--default.btn--size(name='form', value=form.submit.value, type='submit', data-loading-text=form.submit.loading)!= form.submit.text
#kid__modal.kid.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  .modal-dialog.kid__dialog(role='document')
    .modal-content.kid__content
      i.d-none.d-md-inline-block.ic.ic--babochka.kid__icon.kid__icon--1
      i.d-none.d-md-inline-block.ic.ic--sharik.kid__icon.kid__icon--2
      button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body
        .row.justify-content-center
          .col-24.text-center  
            .mb-3.kid__descr!= content.index.modal.kid.descr
            .mb-3.kid__text!= content.index.modal.kid.text
            a.btn.btn--default.btn--size(href="order.php")!= content.index.modal.kid.btn.text
#video__modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  .modal-dialog.modal-video(role='document')
    .modal-content.modal-video__content
      button.close.modal__close.modal__close--video(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body.modal__body
        .modal__iframe
          iframe.modal__iframe(src="https://www.youtube.com/embed/kg-qEHftDd8" frameborder="0" gesture="media" allowfullscreen)
// Cropping modal
#avatar-modal.modal.fade(aria-hidden='true', aria-labelledby='avatar-modal-label', role='dialog', tabindex='-1')
  .modal-dialog.modal-lg 
    .modal-content.modal-content--default
      form.avatar-form(action='crop.php', enctype='multipart/form-data', method='post')
        .modal-body
          // Upload image and data
          .avatar-upload
            input.avatar-src(type='hidden', name='avatar_src')
            input.avatar-data(type='hidden', name='avatar_data')
            input.avatar-filename(type='hidden', name='avatar_filename')
            // Crop and preview
            .row
              .col-24
                .avatar-wrapper.avatar__wrapper
            .row.justify-content-center.align-items-center.avatar-btns
              .col-24.col-lg-17
                .btn-groups.btn-groups--group
                  label.btn.btn--primary.btn--upload.btn-upload(for='avatarInput', title='Upload image file')
                    input#avatarInput.sr-only.avatar-input(type='file', name='avatar_file', accept='.jpg,.jpeg,.png,.gif,.bmp,.tiff')
                    span.docs-tooltip(data-toggle='tooltip', title='', data-original-title='Import image with Blob URLs')
                      span.fa.fa-upload
                  button.btn.btn--primary(type='button', data-method='zoom', data-option='0.1', title='Zoom In')
                    span.docs-tooltip(data-toggle='tooltip', title='', data-title='cropper.zoom(0.1)')
                      i.fa.fa-search-plus
                  button.btn.btn--primary(type='button', data-method='zoom', data-option='-0.1', title='Zoom Out')
                    span.docs-tooltip(data-toggle='tooltip', title='', data-title='cropper.zoom(-0.1)')
                      i.fa.fa-search-minus
                  button.btn.btn--primary(type='button', data-method='rotate', data-option='90', title='Rotate 90 degrees')
                    i.fa.fa-rotate-left
                  button.btn.btn--primary(type='button', data-method='rotate', data-option='-90', title='Rotate -90 degrees')
                    i.fa.fa-rotate-right
                  label(for="aspectRatio0").btn.btn--primary.avatar__checkbox-group.avatar-ratio
                    input#aspectRatio0.sr-only.avatar-ratio__control(type='radio', name='aspectRatio', value='1.5', checked)
                    span.docs-tooltip.avatar-ratio__text(data-toggle='tooltip', data-animation='false', title='', data-original-title='aspectRatio: 3 / 2') 3:2
                  label(for="aspectRatio1").btn.btn--primary.avatar__checkbox-group.avatar-ratio
                    input#aspectRatio1.sr-only.avatar-ratio__control(type='radio', name='aspectRatio', value='0.66666666666')
                    span.docs-tooltip.avatar-ratio__text(data-toggle='tooltip', data-animation='false', title='', data-original-title='aspectRatio: 2 / 3') 2:3
              .col-24.col-md-15.col-lg-7
                button.btn.btn--default.btn--size.avatar-save(type='submit') Обрезать

#facebook.modal.fade(aria-hidden='true', aria-labelledby='avatar-modal-label', role='dialog', tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .row
          .col-24.align-self-start
            h2.heding Поделитесь нашим сайтом в социальных сетях, чтобы получить дополнительную скидку 17 грн на вашу покупку!
          .col-24.align-self-center
            #shareBtn.btn.btn--facebook(data-layout="button_count") Я рекомендую
          .col-24.align-self-end
            a(href="#dismiss", data-dismiss="modal") Нет, спасибо

.loading(aria-label='Loading', role='img', tabindex='-1')
