#callback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  -var callback = page.modal.callback
  .modal-dialog.modal-lg(role='document')
    .modal-content
      i.d-none.d-sm-inline-block.ic.ic--wreath.modal__icon.modal__icon--1
      i.d-none.d-lg-inline-block.ic.ic--manager.modal__icon.modal__icon--2
      //-.modal-header
      button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body
        .row.justify-content-center.justify-content-lg-start
          .col-24.col-sm-18.col-md-24.col-lg-16
            h5#callbackLabel.mb-3.dm-descr!= callback.heading
            p.mb-3.sv-descr!= callback.descr
          .col-24.col-sm-18.col-md-24.col-lg-12
            - var form = callback.form
            form.form.js-form(action="mail/mail.php", method="post")
              fieldset.form-group
                input.form-control(type="tel", name="phone", placeholder=form.phone.placeholder, required)
              .btn-groups.form__btn-groups
                button.btn.btn--default.btn--size(name='form', value=form.submit.value, type='submit', data-loading-text=form.submit.loading)!= form.submit.text
#kid__modal.kid.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  .modal-dialog.kid__dialog(role='document')
    .modal-content.kid__content
      i.d-none.d-md-inline-block.ic.ic--babochka.kid__icon.kid__icon--1
      i.d-none.d-md-inline-block.ic.ic--sharik.kid__icon.kid__icon--2
      button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body
        .row.justify-content-center
          .col-24.col-md-18.col-lg-16.text-center
            h5#callbackLabel.mb-3.dm-descr!= content.index.modal.kid.heading
          .col-24.text-center  
            .mb-3.kid__descr!= content.index.modal.kid.descr
            .mb-3.kid__text!= content.index.modal.kid.text
            a.btn.btn--default.btn--size(href="#")!= content.index.modal.kid.btn.text
#video__modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackLabel', aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
        +svg("close")(class="close__icon")
      .modal-body.modal__body
        .modal__iframe
          iframe.modal__iframe(src="https://www.youtube.com/embed/kg-qEHftDd8" frameborder="0" gesture="media" allowfullscreen)
// Cropping modal
#avatar-modal.modal.fade(aria-hidden='true', aria-labelledby='avatar-modal-label', role='dialog', tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      form.avatar-form(action='crop.php', enctype='multipart/form-data', method='post')
        .modal-body
          .avatar-body
            // Upload image and data
            .avatar-upload
              input.avatar-src(type='hidden', name='avatar_src')
              input.avatar-data(type='hidden', name='avatar_data')
              label(for='avatarInput') Local upload
              input#avatarInput.avatar-input(type='file', name='avatar_file')
            // Crop and preview
            .row
              .col-24
                .avatar-wrapper
            .row.avatar-btns
              .col-auto
                .btn-group
                  button.btn.btn--default(type='button', data-method='rotate', data-option='90', title='Rotate 90 degrees')
                    i.fa.fa-rotate-left
                  button.btn.btn--default(type='button', data-method='rotate', data-option='-90', title='Rotate -90 degrees')
                    i.fa.fa-rotate-right
                .btn-group.d-flex.flex-nowrap.avatar-ratio(data-toggle='buttons')
                  label.btn.btn-primary.active
                    input#aspectRatio0.sr-only(type='radio', name='aspectRatio', value='1.5')
                    span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='', data-original-title='aspectRatio: 3 / 2') 3:2
                  label.btn.btn-primary
                    input#aspectRatio1.sr-only(type='radio', name='aspectRatio', value='0.66666666666')
                    span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='', data-original-title='aspectRatio: 2 / 3') 2:3
              .col-auto
                button.btn.btn-primary.btn-block.avatar-save(type='submit') Обрезать
.loading(aria-label='Loading', role='img', tabindex='-1')
