section#preview.preview
  .container
    .row.justify-content-center
      .col-24
        h2.heading.heading--curl.preview__heading!= page.preview.heading
    .row.justify-content-center.align-items-center
      .d-none.d-lg-block.col-8
        - var img = page.preview.img
        img.preview__img(src=img.src, alt=img.alt)
      .col-24.col-md-19.col-lg-12
        - var form = page.preview.form
        form.form--desk.form.js-wow.flipInX(action="order.php", method="get")
          fieldset.form-group
            .row.justify-content-around
              .d-inline-flex.pl-2.pr-2
                .radio-btn
                  input#rbtn11.radio-btn__control.js-gender(type='radio', name='gender', data-gender='#male', value="1")
                  label.radio-btn__box(for='rbtn11')
                    i.radio-btn__icon
                    | Мальчик
              .d-inline-flex.pl-2.pr-2
                .radio-btn
                  input#rbtn12.radio-btn__control.js-gender(type='radio', name='gender', value="0", data-gender='#female')
                  label.radio-btn__box(for='rbtn12')
                    i.radio-btn__icon
                    | Девочка
          fieldset.form-group
            select#male.form-control.form-control--select.select(data-placeholder=form.selectM.placeholder, name="male", required)
              option
              each option, i in form.selectM.items
                option(value=option)!= option
            select#female.form-control.form-control--select.select(name="female", data-placeholder=form.selectF.placeholder)
              option
              each option, i in form.selectF.items
                option(value=option)!= option
          .btn-groups.form__btn-groups
            button.btn.btn--default.btn--size(name='form', value=form.submit.value, type='submit', data-loading-text=form.submit.loading)!= form.submit.text
          a.info.form__info(data-toggle="modal" href="#kid__modal")!= form.info.text

